[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-wishlist-setup"] {
  position: relative;
  margin-bottom: 16px !important;
}

[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-wishlist-dashboard"],
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-email-logs"] {
  position: relative;
  margin-bottom: 16px !important;
}

[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-analytics"],
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-features"] {
  position: relative;
  margin-top: 16px !important;
}

[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-wishlist-setup"]:after,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-wishlist-dashboard"]:after,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-analytics"]:before,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-email-logs"]:after,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-features"]:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-analytics"]:before,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-features"]:before {
  top: -8px;
}

[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-wishlist-setup"]:after,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-wishlist-dashboard"]:after,
[id^=toplevel_page_mc-] li:not(:last-child) a[href="admin.php?page=mc-email-logs"]:after {
  bottom: -8px;
}

[id^=toplevel_page_mc-].wp-not-current-submenu li:not(:last-child) a[href="admin.php?page=mc-wishlist-dashboard"]:after,
[id^=toplevel_page_mc-].wp-not-current-submenu li:not(:last-child) a[href="admin.php?page=mc-analytics"]:before,
[id^=toplevel_page_mc-].wp-not-current-submenu li:not(:last-child) a[href="admin.php?page=mc-features"]:before,
[id^=toplevel_page_mc-].wp-not-current-submenu li:not(:last-child) a[href="admin.php?page=mc-email-logs"]:after {
  right: 5px;
}

[id^=toplevel_page_mc-] .discount-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #ffd700 !important;
  text-shadow: 7px 2px 10px gold;
}

[id^=toplevel_page_mc-] .discount-badge {
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, #ff0044 0%, #ec384c 100%);
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  z-index: 10;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
}